.backToTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.backToTop:hover{
    box-shadow: 0px 0px 20px #d62cba;
}